*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: auto;
    background:  hsla(127, 45%, 81%, 0.676) url('./img/personas.jpg');
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.homeDiv button{
    margin: 5px; 
    width: 80%;
    padding: 5px;
    border-radius: 8px;
    font-size: 20px;    
    border: 2px solid rgb(243, 152, 15);
    cursor: pointer;
    margin-top: 10px;
    background-color: #f4b509c3;
}
.formRegister ::placeholder{
    font-size: 15px;
    font-weight: 70;
}

.textRegister, .textLogin{
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}



.formLogin ::placeholder{
    font-size: 15px;
    font-weight: 70;
}
.formRegister input{
    margin: 5px;
    padding: 5px;
    border-radius: 8px;   
    border: 3px outset rgb(255, 201, 5);
    font-size: 80%;
    width: 80%;
    border-radius: 8px;
    font-size: 22px;    
    border: 2px solid rgb(231, 194, 12);
    cursor: pointer;
    margin-top: 13px;

}
.formLogin input{
    margin: 5px;
    padding: 5px;
    border-radius: 8px;   
    border: 3px outset rgb(255, 201, 5);
    font-size: 80%;
    width: 80%;
    border-radius: 8px;
    font-size: 22px;    
    border: 2px solid rgb(231, 194, 12);
    cursor: pointer;
    margin-top: 13px;

}
button:hover{
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.formLogin{  
    width: 25%;
    height: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: auto;
}
.formRegister{
    width: 25%;
    height: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: auto;

}

.divMuro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divPubli{
    display: flex;
    flex-direction: column;
    background-color: #e9e7d6;
    display: flex;
    flex-direction: column;
    
    
}


.editBtn{
    width: 13%;
}
.btnEdit{
    width: 40%;
}

.principalContent {
    display: flex;
    justify-content: center;

}

.publicationDiv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}

.publicationDiv textarea {
    border-radius: 5px;
    width: 20rem;
    height: 5rem;
    background-color: #f4f2df;

}

aside {
    display: flex;
    justify-content: center;
}


aside button {

    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: rgb(245, 48, 48);
    width: 8rem;
    height: 3rem;
    border-radius: 12px;
    border: none;

}
.homeDivTimeLine{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: auto;
    background:  hsla(127, 45%, 81%, 0.676) url('./img/personas.jpg');
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.divPubli {

    display: flex;
    flex-direction: column;
}

.containerBtn  {

    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.containerBtn  button {
    width: 4rem;
    height: 2rem;
}

.btnE button {
    background-color: #f2dc14;
    border-radius: 5px;
    border: none;
}

.btnD button {
    background-color: rgb(228, 20, 20);
    border-radius: 5px;
    border: none;
}

